### This is the Config File for the bot and servers
### Examples can be found before every section
### If you mess up real bad, you can find the default on github and copy it over

### Bot section:
## Name of bot like, eBot, coolbot, Patty.
# ex. name = "NameOfBot"
## IP is the bots ip address.
# ex. ip = "192.168.2.1" or ip = "2001:db8:beef::e"
# Note that at the time of writing CS:GO does not support IPv6, however, for future proofing this program does support IPv6
## Port is the port the bot listens on.
# If your bot is connecting to an external CS:GO server (one not on your LAN) you WILL need to port forward the UDP port.
# For intenal (LAN) servers you need to specify a port but do not need to port forward
# ex. port = 13337
[Bot]
name = "MatchBot"
ip = "192.168.2.1"
port = "13337"

### Server section:
## IP is the ip address of the server you want to manage
# ex. ip = 192.168.2.20 or ip = "2001:db8:cafe::a"
# Note that at the time of writing CS:GO does not support IPv6, however, for future proofing this program does support IPv6
## Port is the TCP port of the server
# The default port is 27015 but may be different depending on your hosting
# Source will listen on the same port for TCP and UDP unless explicitly told not to,
# so whatever the port is that you connect with will most likely work
# ex. port = "27015"
## RCONPASS is the RCON password for the server you want to manage
# ex. rconpass = "password123"
[Server]
ip = "192.168.2.20"
port = "27015"
rconpass = "password123"
